
@{
    ViewData["Title"] = "Society Information";
    Layout = "~/Views/Shared/layout.cshtml";
}


<table>
    <tr>
        <td>
            Bangalore
        </td>
        <td>
            Karnatka
        </td>

    </tr>
</table>

