
@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/layout.cshtml";
}


<table>
    <tr title="This is Account Controller">
        <td>
            Name: 
        </td>
        <td>
            Purusottam Kumar
        </td>
    </tr>
</table>

