
@{
    ViewData["Title"] = "welcome to my Apartement";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2>This is Home page</h2>

<table>
    <tr title=" This is Home page controller">
        <td>
            Welcome to my website 
        </td>
        <td>
            Called MyApartement.com
        </td>

    </tr>
</table>