
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h1>Index</h1>

<table>
    <tr title=" This is Upcomming festival Controller page controller">
        <td>
            Donation
        </td>
        <td>
            Donation
        </td>

    </tr>
</table>

