
@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h1>Report</h1>

<table>
    <tr>
        <td>
            working on 
        </td>
        <td>
            Softtek India Pvt Ltd.
        </td>

    </tr>
</table>

