
@{
    ViewData["Title"] = "Complain";
    Layout = "~/Views/Shared/layout.cshtml";
}


<table>
    <tr>
        <td>
            Mobile Number:
        </td>
        <td>
            +917795149810
        </td>

    </tr>
</table>

