
@{
    ViewData["Title"] = "Notice Board";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h1>Index</h1>

<table>
    <tr title=" This is NoticeBoard page controller">
        <td>
            Email Id:
        </td>
        <td>
            purusottamkumar10@gmail.com
        </td>

    </tr>
</table>