
@{
    ViewData["Title"] = "Upcomming Festivals";
    Layout = "~/Views/Shared/layout.cshtml";
}


<table>
    <tr>
        <td>
            PIN 560100
        </td>
        <td>
            India 
        </td>

    </tr>
</table>

